<nav class="navbar navbar-light bg-light static-top">
            <div class="container">

                {% if user.is_authenticated %}
                <a class="disabled btn btn-dark">Hola {{ user.get_username }} <img style="height: 60px"  src="{{ user.avatar.imagen.url }}" alt=""></a>
                <a class="btn btn-link" href="{% url 'Logout' %}">Logout</a>
                {% else %}
                 <a href="{% url 'Login' %}" class="btn btn-link">Login</a>
                <a href="{% url 'Registro' %}" class="btn btn-link">Registro</a>
                {% endif %}

            </div>
        </nav>