<style>
    .materias-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .materia-item {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }


    .materia-imagen {
        width: 100%;
        height: auto;
    }

    .materia-info {
        padding: 10px;
        background-color: #f9f9f9;
    }

    h4, p {
        margin: 0;
    }
</style>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group text-center mx-auto">
                    {% for materia in materias %}
                        <li class="list-group-item">
                            {{ materia.nombre }} - {{ materia.descripcion }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
