<style>
    body {
        background-color: #89B5C4;

    }
    .materias-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .materia-item {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        max-width: 400px;
        margin: 10px auto;
    }

    .materia-imagen {
        width: 100%;
        height: auto;
        max-height: auto;
    }

    .materia-info {
        padding: 10px;
        background-color: #f9f9f9;
    }

    h4, p {
        margin: 0;
    }
</style>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if base_de_datos_vacia %}
                    <p>No hay materias disponibles en la base de datos.</p>
                {% else %}
                    <ul class="list-group text-center mx-auto">
                        {% for materia in materias %}
                         <li class="materia-item">
                                <div class="materia-details">
                                    {% if materia.imagen %}
                                        <img src="{{ materia.imagen.url }}" alt="{{ materia.nombre }}" class="materia-imagen">
                                    {% endif %}
                                    <div class="materia-info">
                                        <h4>{{ materia.nombre }}</h4>
                                        <p>{{ materia.descripcion }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
