<style>
    .noticias-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .noticia-item {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }


    .noticia-imagen {
        width: 50%;
        height: auto;
    }

    .noticia-info {
        padding: 10px;
        background-color: #f9f9f9;
    }

    h4, p {
        margin: 0;
    }
</style>

<ul class="noticias-list">
    {% for noticia in noticias %}
        <li class="noticia-item">
            <div class="noticia-details">
                {% if noticia.imagen %}
                    <img src="{{ noticia.imagen.url }}" alt="{{ noticia.nombre }}" class="noticia-imagen">
                {% endif %}
                <div class="noticia-info">
                    <h4>{{ noticia.titulo }}</h4>
                    <p>{{ noticia.descripcion }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
