<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mí</title>
    <style>
       body {
    background-color: #f4f4f4;
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px;
    text-align: justify;
}

p {
    margin-bottom: 15px;
    text-align: left;
}

    </style>
</head>
<body>
    <p>
        Mi nombre es Marcelo, soy una persona bastante ocupada en un trabajo que nada tiene que ver con esto. Hasta hace  4 meses apenas si podía armar las planillas de horarios de mi personal en un archivo excel. No sé bien que me llevó a empezar este curso (siempre creí que estaba bastante mayor para estas cosas). Hoy me sorprendo, no solo porque les estoy mostrando mi trabajo, sino porque puedo entenderlo y replicarlo; y aunque tuve que poner mucho de mi investigando (en realidad si hay cosas que todavía no se como funcionan) se que puedo mejorar mucho y sumar experiencia en un campo que me puede ser útil en algún momento de mi vida. Le agradezco al Equipo Coder, sobre todo a Luis, por haber hecho de mí una nueva persona con nuevas asipraciones. Gracias a todos.
    </p>
</body>
</html>
