<style>
    .profesores-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        list-style: none;
        padding: 0;
    }

    .profesor-item {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }


    .profesor-imagen {
        width: 100%;
        height: auto;
    }

    .profesor-info {
        padding: 10px;
        background-color: #f9f9f9;
    }

    h4, p {
        margin: 0;
    }
</style>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if base_de_datos_vacia %}
                    <p>No hay profesores disponibles en la base de datos.</p>
                {% else %}
                    <ul class="profesores-list">
                        {% for profesor in profesores %}
                            <li class="profesor-item">
                                <div class="profesor-details">
                                    {% if profesor.imagen %}
                                        <img src="{{ profesor.imagen.url }}" alt="{{ profesor.nombre }}" class="profesor-imagen">
                                    {% endif %}
                                    <div class="profesor-info">
                                        <h4>{{ profesor.nombre }}</h4>
                                        <p>{{ profesor.materia }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>