<ul class="profesores-list">
    {% for profesor in profesores %}
        <li class="profesor-item">
            <div class="profesor-details">
                {% if profesor.imagen %}
                    <img src="{{ profesor.imagen.url }}" alt="{{ profesor.nombre }}" class="profesor-imagen">
                {% endif %}
                <div class="profesor-info">
                    <h4>{{ profesor.nombre }}</h4>
                    <p>{{ profesor.categoria }}</p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
